.Phonetics a {
  text-decoration: none;
  color: black;
  border: 1px solid #ad99e1;
  color: #977cdd;
  padding: 10px 20px;
  font-size: 13px;
  font-weight: bold;
  margin-right: 10px;
  border-radius: 20px;
  transition: all 150ms ease-in-out;
}
.Phonetics a:hover {
  background: #977cdd;
  color: white;
}
.text {
  opacity: 0.5;
  font-weight: bold;
}
.Phonetics {
  margin: 20px 0;
}
